* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #be7c7c;
    color: #07090F;
    overflow: hidden;
}
.copyright {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    background: rgb(85, 85, 209);
    padding: 1rem;
}
.topNav {
    height: 60px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #5b4e4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 9px rgba(255, 255, 255, 0.8);
}
.navbar-button {
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    float: right;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.navbar-button:hover {
    color: azure;
    background: #be7c7c;
}
.nav-menu {
    list-style: none;
}
.nav-menu li {
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    margin-right: 0.5rem;
}
.nav-menu li a {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #f7f7f7;
}
.nav-menu li a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
}
.project-box {
    background: #f7f7f7;
    width: 80%;
    height: 70%;
    top: 5%;
    left: 10%;
    position: relative;
}
.project-details {
    max-width: 300px;
    position: absolute;
    top: 10%;
    right: 5%;
    background: brown;
    padding: 1.5rem 2rem;
}
.project-details h2 {
    font-size: 1.8rem;
}
.project-details h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-decoration: underline;
}